/* Parti Index */
.liste {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #FFFDEC;
    
}

li {
    border: 1px solid #86A788;
    padding: 5px;
    border-radius: 20%;
    background-color: #86A788;
}

hr {
    width: 70%;
}










/* Parti CompteClient */
