/* Parti Index */

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.horizontale {
  display: flex;
  justify-content: space-around;

}

.verticale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
  
}


.un {
  background-color: burlywood;
  padding: 20px;
}

.deux {
  background-color: cornflowerblue;
  width: 12%;
}




  
  
  
